<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Base Page</title>
</head>
<body>

<div th:fragment="parent-fragment">
    <p class="underline">hello boy</p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam omnis quod suscipit! Architecto aspernatur error est iusto minima odit officia omnis pariatur perspiciatis possimus, quam quod, sapiente tempora velit.
</div>
</body>
</html>